{% extends "baselayout.html" %}
{% load static %}
{% load videotags %}

{% block extrahead %}
    <style>
    .grammar-video-list {
        padding: 10px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'css/tagmanager.css' %}">

    <link href="//vjs.zencdn.net/6.2.0/video-js.css" rel="stylesheet">
    <link href="{% static 'css/custom-player.css' %}" rel="stylesheet">

{% endblock %}


{% block bodyid %}id='pages'{% endblock %}

{% block content %}

{# show the edit button if the user has permission to change pages #}
{% if perms.pages.change %}
<div id="editbutton">
    <a href="/admin/pages/page/{{page.id}}/">[Edit]</a>
</div>
{% endif %}

{% block topcontent %}
{% endblock %}

{% block pagecontent %}
   {{ page.content }}
{% endblock %}

{% category_videos videos Grammar %}


<div>
    <ul class="nav nav-tabs" role="tablist">
    {% for chapter in '456789' %}
      <li role="presentation" {% if forloop.first %}class="active"{% endif %}><a href="#chapter{{chapter}}" aria-controls="home" role="tab" data-toggle="tab">Chapter {{chapter}}</a></li>
    {% endfor %}
    </ul>

    <div class="tab-content">
    {% for chapter in '456789' %}
        <div role="tabpanel" class="tab-pane fade {% if forloop.first %}in active{% endif %}" id="chapter{{chapter}}">
            <div class='grammar-video-list'>
                {% for video in videos %}
                    {% if video.tag.0 == chapter %}
                    <div class=grammar-video-item>
                        {% thumbnail_popup id=video.id category=video.category tag=video.tag width=600 height=400 preload="none"%}
                        <div class=caption>Figure {{video.tag}}</div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

</div>

{% block bottomcontent %}
{% endblock %}


{% endblock %}

{% block extrajs %}
 {% load_video_javascript %}
{% endblock %}